{% extends "base.html" %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %}
    <h1>{{ product.title }}</h1>
    <h3>Categoria: {{ product.category }}</h3>
    {# Attenzione: per arrivare alla cartella base "/media/", bisogna         #}
    {# aggiungere ".url" alla fine del campo contenente l'immagine.           #}
    <img src="{{ product.image.url }}" width="300"/>
    <p>Prezzo: {{ product.price }}</p>
    <p>{{ product.description }}</p>
    <p style="font-style: italic">Caricato il: {{ product.pub_date }}</p>
{% endblock %}