{% extends "base.html" %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %}
    <h1>{{ product.title }}</h1>
    <h3>Categoria: {{ product.category }}</h3>
    {# Attenzione: per arrivare alla cartella base "/media/", bisogna         #}
    {# aggiungere ".url" alla fine del campo contenente l'immagine.           #}
    <img src="{{ product.image.url }}" width="350"/>
    <h5>Prezzo: {{ product.price }}</h5>
    <h5>{{ product.description }}</h5>
    <h5 style="font-style: italic">Caricato il: {{ product.pub_date }}</h5>
{% endblock %}